@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Hurricane&family=Lato&display=swap");
$dark-color: #8e5822;
.primary-font {
  font-family: "Lato", sans-serif;
}
.secondary-font {
  font-family: "Hurricane", cursive;
}
.p-font {
  font-family: "Cormorant", serif;
}
.dark-color {
  color: $dark-color !important;
}
.white-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  left: 0;
  top: 0;
  z-index: 0;
}
.primary-btn {
  padding: 15px 35px;
  background-color: transparent !important;
  border: 1px solid black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: #000;
  font-size: 12px;
  transition: all 0.2s;
  &:hover {
    background-color: #000 !important;
    color: #fff;
  }
}
.mb--2 {
  margin-bottom: -2rem;
}
nav {
  z-index: 4;
  .container {
    .navbar-brand {
      font-size: 50px;
    }
    ul {
      font-size: 12px;
      font-weight: 700;
      li {
        letter-spacing: 2px;
        .nav-link:hover {
          color: $dark-color !important;
        }
        .active {
          color: $dark-color !important;
        }
      }
    }
  }
}
#cover {
  // background-image: url("../img/test-3.jpg");
  // background-size: cover;
  // background-position: center;
  width: 100%;
  height: 100vh;

  #carousel {
    height: 100%;
    z-index: 0;
    .carousel-inner {
      height: 100%;
      .carousel-item {
        height: 100%;
        img {
          // margin-top: -100px;
          object-fit: cover;
        }
      }
    }
  }
  .container {
    width: 75%;
    h1 {
      font-size: 150px;
    }
    p {
      font-size: 18px;
      width: 50%;
      color: #000;
    }
  }
}
#about {
  p {
    font-size: 20px;
  }
}
#staff {
  .staff-text {
    width: 75%;
    p {
      font-size: 20px;
    }
  }
}
#testimonials {
  background-image: url("../img/testimonials-cover.jpg");
  background-size: cover;
  // background-position: center;

  .container {
    z-index: 2;
    p {
      font-size: 20px;
    }
  }
}
.about-bg {
  background-image: url("../img/test-4.jpg");
}
.pricing-bg {
  background-image: url("../img/test-1.jpg");
}
.contact-bg {
  background-image: url("../img/gallery-2.jpg");
}
#secondary-cover {
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  height: 400px;

  .container {
    position: relative;
    z-index: 2;
  }
}
#workers {
  p {
    font-size: 20px;
  }
}
#video {
  background-image: url("../img/gallery-12.jpg");
  background-position: center;
  background-size: cover;
  min-height: 400px;
  a {
    font-size: 80px;
  }
}
@media screen and (max-width: 1025px) {
  #cover {
    .container {
      p {
        width: 75%;
      }
    }
  }
  #about {
    p {
      font-size: 16px;
    }
  }
  #staff {
    .staff-text {
      p {
        font-size: 16px;
      }
    }
  }
  #workers {
    p {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 769px) {
  nav {
    background-color: rgba(255, 255, 255, 0.712);
    .btn-nav {
      display: none;
    }
  }
  #cover {
    #carousel {
      .carousel-inner {
        .carousel-item {
          img {
            height: 100% !important;
          }
        }
      }
    }
    .container {
      h1 {
        font-size: 100px;
        margin-bottom: -1rem;
      }
      p {
        width: 90%;
      }
    }
  }
  #about {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
  #workers {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
  #staff {
    .staff-text {
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  #testimonials {
    .container {
      p {
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width: 426px) {
  #cover {
    .container {
      width: 100%;
      h1 {
        font-size: 60px;
        text-align: center;
      }
      p {
        text-align: center;
        width: 100%;
      }
    }
  }
  #about {
    .about-2 {
      flex-direction: column-reverse;
    }
  }
  #workers {
    .worker-2 {
      flex-direction: column-reverse;
    }
  }
  #staff {
    .staff-text {
      width: 100%;
    }
  }
  #testimonials {
    .container {
      p {
        font-size: 16px;
      }
    }
  }
}
